.cover__link {
  text-decoration: none;
}

.cover__link::before { 
  height: 100%; 
  background-color: #2A2C2F; 
  opacity: .3; 
  content: ''; 
  display: block; 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 1;
} 
 
.cover__link:hover::before { 
  opacity: .8; 
} 