.places {
    margin: 0 auto;
}


@media screen and (max-width: 1024px) {
    .places {
      max-width: 928px;
      margin-top: 92px;
    }
  }
  @media screen and (max-width: 768px) {
    .places {
      max-width: 720px;
      margin-top: 88px;
    }
  }
  @media screen and (max-width: 320px) {
    .places {
      max-width: 320px;
    }
  }