.intro__list {
    color: white;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

@media screen and (max-width: 320px) {
    .intro__list {
    font-size: 12px;
    line-height: 18px;
    max-width: 288px;
    margin: 34px auto 64px auto;
        }
  }
  
  @media screen and (max-width: 768px) {
    .intro__list {
    }
  }
  
  @media screen and (max-width: 1024px) {
    .intro__list {
    }
  }