.cover__subtitle {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #fff;
  width: 35.16%;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    width: 360px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}
