.header {   
    max-width: 1184px;
    width: 100%;
    margin: 28px auto 56px auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.active {
  border-bottom: 1px solid #fff;
}

@media screen and (max-width: 1024px) {
    .header {
      max-width: 928px;
      margin-top: 28px;
      margin-bottom: 48px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .header {
      max-width: 720px;
      margin-top: 28px;
      margin-bottom: 48px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .header {
      max-width: 288px;
      margin-top: 16px;
      align-items: center;
    }
}

