.lead__title {
    color: #FFFFFF;
    text-align: center;
    font-weight: 900;
    margin: 0;
    margin-bottom: 32px;
    width: 100%;
  }

  
  @media screen and (min-width: 320px) {
    .lead__title {
      max-width: 288px;
      font-size: 40px;
      line-height: 44px;
      margin-bottom: 16px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .lead__title {
        max-width: 720px;
        font-size: 96px;
        line-height: 100px;  
    }
  }

  @media screen and (min-width: 1024px) {
    .lead__title {
        font-size: 96px;
        line-height: 100px;
        max-width: 720px;
    }
  }