.footer__links { 
  display: flex;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
  color: white;
  margin: 0;
  padding: 0;
  gap: 18px;
} 

@media screen and (max-width: 1024px) { 
  .footer__links { 
    max-width: 928px;
  } 
} 
 
@media screen and (max-width: 768px) { 
  .footer__links { 
    max-width: 720px;
  } 
} 
 
@media screen and (max-width: 320px) { 
  .footer__links { 
     max-width: 186px;
     width: 100%;
     flex-direction: column;
     align-items: flex-start;
  } 
} 