.place__paragraph { 
  color: white;
  font-size: 18px;
  line-height: 163%;
  margin: 0;
  margin-bottom: 1.5rem;
} 

@media screen and (max-width: 1024px) { 
      .place__paragraph { 
       max-width: 456px;
  } 
} 
 
@media screen and (max-width: 768px) { 
      .place__paragraph { 
        max-width: 352px;
        font-size: 16px;
        line-height: 163%;
  } 
} 
 
@media screen and (max-width: 320px) { 
      .place__paragraph { 
          max-width: 288px;
          font-size: 16px;
          line-height: 163%;
  } 
} 