.footer__copyright {
    color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .footer__copyright {
      max-width: 928px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .footer__copyright {
      max-width: 720px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .footer__copyright {
        margin-top: 48px;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
    }
  }