.lead__subtitle {
  font-size: 1.875rem;
  margin: 0;
  margin-bottom: 4rem;
  text-align: center;
  color: #FFFFFF;
  line-height: 2.25rem;
  max-width: 640px;
  width: 100%;
  font-weight: 400;
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
  }
}
