.cover {
  max-width: 1184px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 0;
}

.cover:hover .cover__image {
  opacity: .2;
  z-index: 0;
}

@media screen and (min-width: 320px) {
  .cover {
    min-height: 200px;
  }
}

@media screen and (min-width: 768px) {
  .cover {
    min-height: 480px;
    margin-top: 90px;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    min-height: 640px;
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    min-height: 740px;
  }
}

