.place__link {
    display: flex;
    max-width: 288px;
    width: 100%;
    white-space: nowrap;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
}