.cover__title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: white;
  z-index: 1;
  max-width: 560px;
  width: 100%;
  text-decoration: none;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    max-width: 560px;
    font-size: 72px;
    line-height: 76px;
  }
}

@media screen and (max-width: 321px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}