.place {
    max-width: 984px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto 80px auto;
    grid-row-gap: 48px;
    grid-column-gap: 16px;
}

@media screen and (max-width: 1024px) {
    .place {
      max-width: 928px;
      grid-row-gap: 48px;
      grid-column-gap: 15px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .place {
      max-width: 720px;
      margin-bottom: 73px;
      grid-column-gap: 16px;
      grid-row-gap: 38px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .place {
      max-width: 320px;
      grid-template-columns: 1fr;
      margin-bottom: 50px;
      grid-row-gap: 32px;
    }
}

